CompileFlags:
  CompilationDatabase: "."
  Remove:
    - -m*
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
    - -mtext-section-literals
    - -fno-shrink-wrap
    - -fno-jump-tables
