menu "Services Configuration"

    config WIFI_SERVICE_RECONNECT_MAX
        int "WiFi Max Reconnect Retries"
        default 5
        help
            Maximum number of reconnect attempts before giving up.

    config CONSOLE_PROMPT_STRING
        string "Console command line prompt"
        default "SZP> "
        help
            The prompt string printed by the console before reading command.

endmenu
